/*global start reset*/
body {
	margin:0;
	padding:0;
	font-size:1920px;
	line-height:1;
	font-family:"Microsoft YaHei";
}
ul, ol, li {
	list-style:none;
	margin:0;
	padding:0;
}
p, input, button,table, tr, th, td, thead, tbody ,pre{
	padding:0;
	margin:0;
	font-family:"Microsoft YaHei";
}
h1, h2, h3, h4, h5, blockquote, dl, dt, dd {
	margin:0;
	padding:0;
	font-weight:normal;
}
em, cite, i{font-style:normal;}
img{border:none;}
a {
	text-decoration:none;
	color:#666;
}
a:hover{color:#007ad5;}
.clr {
	clear:both;
}
.fixedbox {
	width:1200px;
	margin:0 auto;
}
.noboder{border:0 !important;}
.nomargin{margin:0 !important;}

#main{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}

#g_bg{
	display:block;
	width:100%;
}
#main .layer{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

#l_bulidings div{
	font-size:0;
	line-height:0;
	position: absolute;
	width:100%;
}
#l_bulidings div img{
	width:100%;
	position:absolute;
	left:0;
	top:0;
}


#b_shubaoting, .bubble, #school{
	position:absolute;
}

#layer_ui{
}

#layer_ui img{
	display:block;
}

#menu, #logo, #userinfo{
	position:fixed;
}
#menu{
	width:10.52083333333333%;
	left:0;
	bottom:0;
	font-size:1%;
}
#menu img{
	width:100%;
}
#menu ul{
	position:absolute;
	top:0;
	height:100%;
}
#menu ul li{
	font-size:150%;
	text-indent:1em;
	line-height:4;
	height:33.33333333%;
}
#menu.close{
	left:-9%;
}

#userinfo{
	width:27.1875%;
	top:0;
	right:0;
	font-size:1%;
}
#userinfo img{
	width:100%;
	height:20%;
}
#userinfo span{
	font-size:150%;
	position:absolute;
	top:12%;
	left:6%
}
#userinfo em{
	font-size:150%;
	position:absolute;
	top:12%;
	left:56%
}
#userinfo a.logout{
	font-size:150%;
	position:absolute;
	right:6%;
	top:65%;
}
#logo{
	width:24.27083333333333%;
	left:0;
	top:0;
}

#subline{
	position:absolute;
	top:0;
	left:0;
}

.bubble.small{
	width:3.90625%;
	height:9.25925925925926%;
}

.bubble{
	width:9.47916666666667%;
	height:22.59259259259259%;
}
.bubble img{
	display:block;
	width:100%;
}
.bubble span{
	position:absolute;
	z-index:9;
	font-size:100%;
	/*top:24.59016393442623%;*/
	top:0;
	left:0;
	display:block;
	width:100%;
	height:100%;
	text-align:center;
	color:#959595;
	line-height:3;
}
.bubble.small span{
	font-size:1.2%;
}

#school{
	width:11.97916666666667%;
	height:2.77777777777778%;
	right:7.1875%;
	bottom:17.31481481481481%;
	font-size:1.14583333333333%;
	text-align:center;
}

#mask{
	position: fixed;
	width:100%;
	height:100%;
	background:#fff;
	background:rgba(255,255, 255, .8);
	z-index: 999;
	top:0;
	left:0;
	font-size:3%;
	text-align: center;
}

#college_select_layer{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:url(../images/obbg.png);
	background:rgba(0,0,0,.5);
	font-size:1%;
}
#college_select_layer img.bg{
	width:100%;
	height:100%;
}
#college_select_layer .btn_close{
	width:5.20833333333333%;
	position: absolute;
	right:28%;
	top:11%;
	cursor:pointer;
}

#college_create_layer{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:url(../images/obbg.png);
	background:rgba(0,0,0,.5);
	font-size:1%;
}

#college_create_layer img.bg{
	width: 100%;
}
#college_create_layer .btn_close{
	width:5.20833333333333%;
	position: absolute;
	right:5%;
	top:3%;
	cursor:pointer;
}

#oc_s_college{
	left:43.02083333333333%;
	top:27.87037037037037%;
	width:18.02083333333333%;
	height:3.88888888888889%;
	z-index:99;
}
#oc_s_college input{
	width:86.1271676300578%;
}
#oc_s_year{
	left:43.02083333333333%;
	top:37.96296296296296%;
	width:18.02083333333333%;
	height:3.88888888888889%;
}

#college_select_layer .btn_submit{
	left:52.13541666666667%;
	top:63.14814814814815%;
}

.btn_create{
	width:3.125%;
	height:5.55555555555556%;
	position:absolute;
	top:70.64814814814815%;
	left:62.13541666666667%;
	cursor: pointer;
}

.btn_create img{
	width:100%;
	height:100%;
}


.suggest{position:absolute;}
.suggest .current{
	width:100%;height:100%;
	color:#0071c5;
	font-size:120%;
	line-height: 2;
	text-indent:.5em;
	cursor: pointer;
	z-index: 1;
	background:url(../images/obg.png);
}
.suggest .current input{
	height:100%;
	border:none;
	background:none;
	color:#0071c5;
	font-size:120%;
}
.suggest .suggest_list{
	width:100%;
	height:500%;
	background:#e3f5ca;
	position:absolute;
	display:none;
}
.suggest.select .suggest_list{
	display:block;
}
.suggest .suggest_list ul{
	height:100%;
	overflow:auto;
}
.suggest .suggest_list ul li{
	height:20%;
	border-bottom:1px solid #c7e7ff;
	cursor:pointer;
	line-height:2;
	color:#0071c5;
	text-indent: .5em;
}
.suggest .suggest_list ul li:hover{
	background:#97bf84;
}

#c_s_college{
	width:18.02083333333333%;
	height:3.88888888888889%;
	top:25.46296296296296%;
	left:20.57291666666667%;
	z-index: 99;
}

#c_s_college input{
	width:86.1271676300578%;
}

#c_s_year{
	width:18.02083333333333%;
	height:3.88888888888889%;
	top:35.55555555555556%;
	left:20.57291666666667%;
}

#c_c_area{
	width:9.79166666666667%;
	height:3.88888888888889%;
	top:24.25925925925926%;
	left:57.70833333333333%;
	z-index: 99;
}

#c_c_yead{
	width:9.79166666666667%;
	height:3.88888888888889%;
	top:34.35185185185185%;
	left:57.70833333333333%;
	z-index:9;
}

#c_c_college{
	width:17.76041666666667%;
	height:3.88888888888889%;
	top:24.25925925925926%;
	left:71.5625%;
}

.btn_submit{
	width:8.85416666666667%;
	height:3.88888888888889%;
	background:#ff9000;
	color:#fff;
	cursor:pointer;
	position:absolute;
	display:block;
	text-align:center;
	font-size:120%;
	line-height:1.6;
}
.btn_submit:hover{
	color:#fff;
}

#c_s_btn{
	top:60.74074074074074%;
	left:29.79166666666667%;
}

#c_s_btn_create{
	width:3.125%;
	height:5.55555555555556%;
	position:absolute;
	top:68.24074074074074%;
	left:39.6875%;
	cursor: pointer;
}

#c_s_btn_create img{
	width:100%;
	height:100%;
}

.btn_blue{
	width:9.79166666666667%;
	height:3.88888888888889%;
	background:#0071c5;
	position:absolute;
	font-size:120%;
	line-height:1.6;
	color:#fff;
	text-indent:.5em;
}
.btn_blue img{
	position:absolute;
	height:100%;
	width:22.34042553191489%;
	top:0;
	right:0;
}
#c_c_btn_blue{
	top:52.5%;
	left:57.70833333333333%;
}

#c_c_btn{
	left:71.5625%;
	top:52.5%;
	
}
